{% extends 'base.html' %}
{% load static %}
{% block content %}
		<!--Content-->
			<div class="content">

			<!-- Row-->
				<div class="row">
					<div class="contact-info col-sm-12">
                        <div class="col-sm-4">
							<h3>Here you find me</h3>
							<address>
								<p>57 Mainstreet, MainTower, Barcelona</p>
							</address>
						</div>
						<div class="col-sm-4">
            				<div class="phone">
                 				<h3>Call Me</h3>
                  				<p>+99(004) 987-654-3210</p>
		                	</div>
		                </div>
		                <div class="col-sm-4">
							<div class="email">
								<h3>Write me a email</h3>
								<p>contact@mail.com</p>
							</div>
						</div>
					</div>

                    <!-- Contact us form -->
                        <div class="contact_form col-sm-12">
                        	<div class="col-sm-12">
                      			<h3>send me a message</h3>
                   				<p>Nunc nec iaculis ipsum, a egestas ante. Duis ut ullamcorper ipsum. Etiam porttitor.</p>
                   			</div>

                            <form id="validForm" method="POST" action="{% url 'contact' %}">{% csrf_token %}
                                <div class="form-group control-group col-sm-6">
                                	<span><i class="fa fa-user"></i></span>

                                    <input class="form-control" type="name" name="name" minlength="2" placeholder="Name *">
                                </div>
                                <div class="form-group control-group col-sm-6">
                                	<span><i class="fa fa-envelope-o"></i></span>
                                    <input class="form-control" type="email" name="mail" placeholder="Email Address *">
                                </div>
								<div class="form-group control-group col-sm-12">
									<span><i class="fa fa-pencil"></i></span>
                               		<textarea class="form-control" type="text" name="message" placeholder="Message *"></textarea>
                       			</div>
                       			<div class="form-button col-xs-12">
                                    <button type="submit" name="enter" class="btn center-block">
                                		send  <i class="fa fa-paper-plane"></i>
                                    </button>
                				</div>
                            </form>
                        </div>
                    <!-- /Contact us form -->
				</div>
			<!-- /Row -->
{% endblock %}